<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PICKLE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_user_insert.css') }}">
    <link rel="shorcut icon"  href="{{ url_for('static', filename='hyoje/img/pickle_logo.png') }}">
    <script src="https://kit.fontawesome.com/6c462b77be.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <a href="{{ url_for('auth.login') }}">
            <img src="{{ url_for('static', filename='img/pick_logo.png') }}" id="header_logo_img">
        </a>
        <a href="{{ url_for('auth.login') }}"><button id="user_insert_move_login" style="color: white; background: none;">로그인</button></a>
    </header>
    <div id="user_insert_space">
        <span>피클 계정 생성하기</span>
        <form action="{{ url_for('auth.insert') }}" method="POST">
            {{ form.csrf_token }}
            {% include "form_error.html" %}
            <table style="height: 100%;">
                <tr>
                    <td>닉네임 :&nbsp</td>
                    <td><input type="text" placeholder="닉네임(2자 이상)" id="user_name" minlength="2" name='n_name' value="{{ form.n_name.data or '' }}"></td>
                </tr>
                <tr>
                    <td>이메일 :&nbsp</td>
                    <td><input type="email" 
                        placeholder="이메일 (example@pickle.com)" 
                        id="id"
                        name="id"
                        value="{{ form.id.data or '' }}"></td>
                </tr>
                <tr>
                    <td>휴대전화번호 :&nbsp</td>
                    <td><input type="text" placeholder="-를 빼고 입력하세요." id="user_phone" name='number'value="{{ form.number.data or '' }}"></td>
                </tr>
                <tr>
                    <td>비밀번호 :&nbsp</td>
                    <td><input type="password" placeholder="비밀번호를 입력하세요." id="password" minlength="8" maxlength="12" name='pw' value="{{ form.pw.data or '' }}"></td>
                </tr>
                <tr >
                    <td colspan="2"><span id="password_word" > * 8~12자 영문 대 소문자, 숫자, 특수문자를 사용하세요. </span></td>
                </tr>
            </table>
            <span>&nbsp</span>
            <input type="submit" value="계정 생성하기" id="insert">
        </form>
        
    </div>
    <footer>
        <div class="footer_div">
            <div class="footerimg">
                <img src="{{ url_for('static', filename='img/pick_logo.png') }}" alt="">
            </div>
            <div class="footertext">
                <span>pickle</span>
                <span>Pick에taste를 더하다. Pickle!</span>
                <span>문의번호 : 010-3125-5216 | 대표자명 : 안효제 </span>
                <span>고객센터 1599-0000 (평일 09:00~18:00 | 주말 및 공휴일 휴무)</span>
                <span>주소 : 충남 천안시 서북구 두정동 698 말우물 빌딩 6층 비트캠프 </span>
            </div>
            <div class="instaricon">
                <i class="fab fa-instagram-square fa-2x"></i>
                <i class="fab fa-twitter-square fa-2x"></i>
                <i class="fab fa-facebook-square fa-2x"></i>
            </div>
        </div>
    </footer>
</body>
</html>