#user_info{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

#user_user_info{
    margin-top: 200px;
    min-height: 160px;
    max-height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;

}



#user_user_info > div{
    padding: 0 10px;
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#user_user_img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 20px;
}

#user_main_info_list{
    margin-left: 40px;
    height: 80px;
    line-height: 25px;
}
#user_main_update{
    position: absolute;
    right: 10%;
}
#user_main_update > input{
    color: white; background: none;
}

#user_main_update > input:hover{
    color: black; background: white;
}